[submodule "deps/treenail"]
	path = deps/treenail
	url = git@gitlab.esa.informatik.tu-darmstadt.de:scale4edge/treenail.git
[submodule "deps/longnail"]
	path = deps/longnail
	url = git@gitlab.esa.informatik.tu-darmstadt.de:scale4edge/longnail.git
[submodule "deps/scaie-v"]
	path = deps/scaie-v
	url = git@gitlab.esa.informatik.tu-darmstadt.de:scale4edge/scaie-v.git
