mainmenu "NailGun ISAX integration config"

choice
	prompt "RISC-V core"
	default PICORV32

config PICORV32
	bool "PicoRV32"

config CVA5
	bool "CVA5"

config ORCA
	bool "ORCA"

config PICCOLO
	bool "Piccolo"

config VEX_4S
	bool "VexRISC-V (4-Stage)"

config VEX_5S
	bool "VexRISC-V (5-Stage)"

endchoice

source ISAX/Kconfig