mainmenu "NailGun ISAX integration config"

choice
	prompt "RISC-V core"
	default CORE_PICORV32

config CORE_PICORV32
	bool "PicoRV32"

config CORE_CVA5
	bool "CVA5"

config CORE_ORCA
	bool "ORCA"

config CORE_PICCOLO
	bool "Piccolo"

config CORE_VEX_4S
	bool "VexRISC-V (4-Stage)"

config CORE_VEX_5S
	bool "VexRISC-V (5-Stage)"

endchoice

source "build/ISAX/Kconfig"

source "LN_Kconfig"
