mainmenu "NailGun ISAX integration config"

source "configs/cores_Kconfig"
source "build/ISAX/Kconfig"
source "configs/LN_Kconfig"
source "configs/sim_Kconfig"
source "configs/ol2_Kconfig"
source "configs/advanced_Kconfig"
